ul,
ol {
    list-style: none;
}

h1,
.fa-bounce {
    font-family: 'Bungee Spice', sans-serif;
    font-size: 3.375rem;
}

h2 {
    font-family: 'Bungee Spice', sans-serif;
    font-size: 2.8rem;
}

body {
    background: #141E30;
    background: white;
    color: rgb(4, 49, 88);
    font-size: 1.25rem;
    color: black;
    display: flex;
    flex-direction: column;
}

.rounded-pill {
    font-size: large;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white !important;
    background-color: #ec8e00 !important;
}

.rounded-pill:hover {
    background-color: #cd1800 !important;
}

.form-control {
    border-color: #ec8e00;
}

.howTo {
    font-size: .9375rem;
    font-style: italic;
    padding: .625rem;
    border: solid 5px hsla(0, 95%, 35%, 1);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 1rem;
}

.TableRow {
    font-size: 22px;
    font-weight: 500;
}

#buttons button {
    width: 45px;
    margin: 3px;
    padding: 10px !important;
    background-color: #ec8e00 !important;
}

#buttons button[disabled] {
    background-color: #f01f04 !important;

}

#MovieName {
    width: 50%;
    font-size: 18px;
    font-weight: 400;
}


.TableRow td {
    width: 50px;
    height: 50px;
}

#moviePlace {
    font-size: 2.5rem;
    letter-spacing: 0.7rem;
    font-weight: 700;
}

#welcome {
    background: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
}

.youLose {
    width: 500px;
}

#youLose {
    background: #f9fafdcc;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -20px;
    bottom: 0;
    z-index: 9999;
}

#lostGame {
    display: none;
}

#winGame {
    display: none;
}

#movieholder {
    background: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 5555;
}

#incorrect {
    display: none;
    font-size: 18px;
    padding: 7px 20px !important;
}

#starter {
    background: white;
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50;
    bottom: 50;
    z-index: 555;
}



#startBtn {
    font-size: 20px;
    font-weight: 700;
}

.rotation {
    font-size: 5rem;
}

#game_Arena {
    min-height: 90vh;
}

#gameStart {
    display: flex;
    justify-content: center;
    align-content: center;
}


/* responsive */

@media(max-width: 768px) {}